USE [master]
GO
/****** Object:  Database [ExcelExporting]    Script Date: 2/15/2019 1:27:45 PM ******/
CREATE DATABASE [ExcelExporting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExcelExporting', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ExcelExporting.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ExcelExporting_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ExcelExporting_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExcelExporting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExcelExporting]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2/15/2019 1:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](30) NULL,
	[ContactTitle] [nvarchar](30) NULL,
	[Address] [nvarchar](60) NULL,
	[City] [nvarchar](15) NULL,
	[Region] [nvarchar](15) NULL,
	[PostalCode] [nvarchar](10) NULL,
	[Country] [nvarchar](15) NULL,
	[Phone] [nvarchar](24) NULL,
 CONSTRAINT [PK_Customers_1] PRIMARY KEY CLUSTERED 
(
	[CustomerIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerIdentifier], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone]) VALUES (1, N'Bardudollantor Holdings ', N'Regina Mc Gee', N'Technical', N'89 Green Nobel Freeway', N'St. Louis', N'UT-ZV', N'86035', N'Tonga', N'404-9904812')
INSERT [dbo].[Customers] ([CustomerIdentifier], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone]) VALUES (2, N'Parsapadan  ', N'Dewayne Forbes', N'Prepaid Customer', N'54 South Second Parkway', N'Fort Worth', N'VA-PL', N'98849', N'Cape Verde', N'6590516203')
INSERT [dbo].[Customers] ([CustomerIdentifier], [CompanyName], [ContactName], [ContactTitle], [Address], [City], [Region], [PostalCode], [Country], [Phone]) VALUES (3, N'Ciprobin Direct Inc', N'Jolene Nunez', N'Web', N'85 Old Avenue', N'Denver', N'OK-SD', N'18483', N'Guinea', N'892458-2226')
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
USE [master]
GO
